# Quartus junk
db/
incremental_db/
output_files/
*.rpt
*.summary
*.smsg
*.jdi
*.sof
*.sld
*.pin
*.qws
*.bak
*.done

# ModelSim junk
*.wlf
*.log
transcript
work/
vsim.wlf
modelsim.ini

# Ignore everything under simulation
simulation/**

# Keep .do files anywhere under simulation
!simulation/**/*.do