# Quartus junk
db/
incremental_db/
output_files/
*.rpt
*.summary
*.smsg
*.jdi
*.bak
*.qws

# ModelSim junk
*.wlf
*.log
transcript
work/
vsim.wlf
modelsim.ini

# Ignore everything under simulation
simulation/**

# But keep all .do files anywhere under simulation
!simulation/**/*.do